<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${title} ?: 'Place Your Order'">Place Your Order</title>
    <link rel="icon" type="image/png" href="images/icons/favicon.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<section layout:fragment="content" class="container mt-3">
    <div class="container">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
                Home
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>
            <span class="stext-109 cl4">
                Trang Thanh Toán
            </span>
        </div>
    </div>
    <div class="row bg-white rounded p-4 py-5 shadow-sm border border-dark">

        <div class="col-md-6">
            <div class="text-uppercase font-weight-bold bg-light rounded-pill px-md-4 py-md-3">
                Thông Tin Nhận Hàng
            </div>
            <p class="font-italic mb-4">Vui Lòng Xem Kĩ Lại Thông Tin Đơn Hàng Trước Khi Thanh Toán</p>
            <ul class="list-unstyled">
                <li class="d-flex justify-content-between border-bottom py-3">
                    <strong class="text-muted">Tổng</strong>
                    <strong><span th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')} + ' VND'">0.00</span></strong>
                </li>
                <li class="d-flex justify-content-between border-bottom py-3">
                    <strong class="text-muted">Phí vận chuyển</strong>
                    <strong>Miễn phí vận chuyển</strong>
                </li>
                <li class="d-flex justify-content-between border-bottom py-3">
                    <strong class="text-muted">Giảm giá</strong>
                    <strong><span th:text="${#numbers.formatDecimal(discount, 0, 'COMMA', 0, 'POINT')} + ' VND'">0.00</span></strong>
                </li>
                <li class="d-flex justify-content-between border-bottom py-3">
                    <strong class="text-muted">Thành Tiền</strong>
                    <strong><span th:text="${#numbers.formatDecimal(finalPrice, 0, 'COMMA', 0, 'POINT')} + ' VND'">0.00</span></strong>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="text-uppercase font-weight-bold bg-light rounded-pill px-md-4 py-md-3">
                Chi tiết thanh toán
            </div>
            <div class="p-md-4">
                <form th:action="@{/order/submit}" method="post">
                    <div class="form-group mb-3">
                        <input type="text" id="customerName" name="customerName" class="form-control" placeholder="Họ và tên" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="phoneCustomer" name="phoneCustomer" class="form-control" placeholder="Số điện thoại" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="addressCustomer" name="addressCustomer" class="form-control" placeholder="Địa chỉ" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="email" id="emailCustomer" name="emailCustomer" class="form-control" placeholder="Email của bạn" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="descriptionOrder" name="descriptionOrder" class="form-control" placeholder="Ghi chú cho cửa hàng" required>
                    </div>
                    <div class="form-group mb-3">
                        <div class="form-check">
                            <input type="radio" id="cod" name="paymentMethod" class="form-check-input" value="cod">
                            <label for="cod" class="form-check-label">Thanh toán khi nhận hàng (COD)</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="momo" name="paymentMethod" class="form-check-input" value="momo">
                            <label for="momo" class="form-check-label">Thanh toán qua MOMO</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="vnpay" name="paymentMethod" class="form-check-input" value="vnpay">
                            <label for="vnpay" class="form-check-label">Thanh toán qua VNPAY</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="submitButton">Thanh Toán</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const codRadio = document.getElementById("cod");
        const momoRadio = document.getElementById("momo");

        const updateButtonText = () => {
            const submitButton = document.querySelector("button[type=submit]");
            if (codRadio.checked) {
                submitButton.textContent = "Thanh Toán Ngay";
                submitButton.classList.remove("btn-success");
                submitButton.classList.add("btn-primary");
            } else if (momoRadio.checked) {
                submitButton.textContent = "Thanh Toán Với MOMO";
                submitButton.classList.remove("btn-primary");
                submitButton.classList.add("btn-success");
            }
        };

        codRadio.addEventListener("change", updateButtonText);
        momoRadio.addEventListener("change", updateButtonText);

        // Initial check
        updateButtonText();
    });
</script>
</body>
</html>
