<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Add Product</title>

</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <h1>Add New Product</h1>
    <form th:action="@{/products/add}" th:object="${product}" method="post"
          class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="nameProduct" class="form-label">Name:</label>
            <input type="text" th:field="*{nameProduct}" class="form-control" id="nameProduct"
                   required>
            <div class="text-danger" th:if="${#fields.hasErrors('nameProduct')}"
                 th:errors="*{nameProduct}"></div>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input type="text" th:field="*{price}" class="form-control" id="price"
                   required>
            <div class="text-danger" th:if="${#fields.hasErrors('price')}"
                 th:errors="*{price}"></div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea th:field="*{description}" class="form-control"
                      id="description" required></textarea>
            <div class="text-danger" th:if="${#fields.hasErrors('description')}"
                 th:errors="*{description}"></div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image:</label>
            <input type="file" class="form-control" id="image" name="file" onchange="previewImage(event)" required>


            <div class="text-danger" th:if="${#fields.hasErrors('image')}"
                 th:errors="*{image}"></div>
            <img id="output" src="#" alt="Image Preview" class="img-thumbnail mt-3" style="display: none;"/>
        </div>

        <div class="col-6 mb-3">
            <label class="form-label" for="category">Category:</label>
            <select class="form-control" id="category" name="category.id">
                <option value="">-- Select Category --</option>
                <option th:each="category : ${categories}" th:value="${category.id}"
                        th:text="${category.nameProductCategory}"></option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
        </div>

        <button type="submit" class="btn btn-primary">Add Product</button>
        <a th:href="@{/products}" class="btn btn-link">Cancel</a>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
