<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${title} ?: 'Sale Products'">Sale Products</title>
</head>
<body>
<section layout:fragment="content">
    <div style="height: 90px;"></div>

    <div class="bg0 m-t-23 p-b-140">
        <div class="container">
            <div class="row">
                <div th:each="product : ${saleProducts}" class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img th:src="@{|${product.imagePath}|}" alt="IMG-PRODUCT" class="img-thumbnail" style="width: 100%; height: auto;">
                            <a href="#"
                               th:data-product-id="${product.id}"
                               th:data-product-name="${product.nameProduct}"
                               th:data-product-price="${product.price}"
                               th:data-product-description="${product.description}"
                               th:data-product-image="${product.imagePath}"
                               class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                Xem Nhanh
                            </a>
                        </div>
                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l">
                                <a th:href="@{/products/view/{id}(id=${product.id})}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    <span th:text="${product.nameProduct}">Product Name</span>
                                </a>
                                <span class="stext-105 cl3" style="text-decoration: line-through;"
                                      th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' VND'">Price</span>
                                <span class="stext-106 cl3"
                                      th:text="${#numbers.formatDecimal(product.salePrice, 0, 'COMMA', 0, 'POINT')} + ' VND'">Sale Price</span>
                            </div>
                            <div class="block2-txt-child2 flex-r p-t-3">
                                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                    <img class="icon-heart1 dis-block trans-04" src="https://i.imgur.com/JY3PugV.png" alt="ICON">
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="https://i.imgur.com/32F0Wpx.png" alt="ICON">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
