<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Form Sinh Viên</title>
</head>
<body>

<section layout:fragment="content">
    <h1>Form Sinh Viên</h1>
    <form th:action="@{/sinhvien/edit}" th:object="${sinhvien}" method="post"
          class="needs-validation" novalidate>
        <p>ID: <input type="text" th:field="*{id}" /></p>
        <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="color:red;"></p>
        <p>Tên: <input type="text" th:field="*{ten}" /></p>
        <p th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}" style="color:
red;"></p>
        <p>Tuổi: <input type="text" th:field="*{tuoi}" /></p>
        <p th:if="${#fields.hasErrors('tuoi')}" th:errors="*{tuoi}" style="color:
red;"></p>
        <p>Khoa: <input type="text" th:field="*{khoa}" /></p>
        <p th:if="${#fields.hasErrors('khoa')}" th:errors="*{khoa}" style="color:
red;"></p>
        <p><button type="submit">Submit</button></p>
    </form>
</section>

</body>
</html>