<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Trang Chủ - Nhóm 13</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--===============================================================================================-->
</head>
<body class="animsition">

<!-- Header -->


<!-- Cart -->

<!-- Slider -->
<section layout:fragment="content">


    <img src="video/mac3.png" alt="Description of image" style="width: 100%; height: auto;">
    <section class="section-slide">
        <div class="wrap-slick1">
            <div class="slick1">
                <div class="item-slick1">
                    <video width="100%" height="auto" autoplay muted playsinline>
                        <source src="video/large.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </section>
    <div style="height: 40px;"></div>
<div class="container">
    <div class="section-content-responsive">
        <header class="section-header row">
            <h1 class="section-header-headline typography-section-headlin">Mac</h1>
            <div class="section-header-copy-container">
                <p>Bạn nghĩ được <br>là Mac làm được.</p>
            </div>
        </header>
    </div>
</div><!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <!-- Thay thế thẻ img bằng thẻ video -->
                    <img src="https://i.imgur.com/s2s6UjO.png" class="lon">

                    <a href="http://localhost:8080/products" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">


                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Mua Ngay
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w" >
                    <!-- Thay thế thẻ img bằng thẻ video -->
                    <video id="productVideo" width="100%" height="282px" autoplay muted playsinline style="object-fit: cover;">
                        <source src="video/imac.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>

                    <a href="http://localhost:8080/products" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                <span class="block1-name ltext-102 trans-04 p-b-8">

                    <!-- Nội dung của bạn -->
                </span>

                            <span class="block1-info stext-102 trans-04">
                    <!-- Nội dung của bạn -->

                </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Mua Ngay
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <!-- Thay thế thẻ img bằng thẻ video -->
                    <img src="https://i.imgur.com/km4awuC.png" class="lon">

                    <a href="http://localhost:8080/products" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">


                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Mua Ngay
                            </div>
                        </div>
                    </a>




                </div>
            </div>
        </div>
    </div>
</div>


<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="section-content-responsive">
            <header class="section-header row">
                <h2 class="section-header-headline typography-section-headline" data-staggered-anchor="" data-staggered-before-item="" style="">Khám phá dòng sản phẩm.</h2>
                <div class="section-header-cta-container typography-section-headline-link column" data-staggered-before-item="" style="">
                    <a href="/vn/mac/compare/" data-analytics-title="compare all models" class="icon-wrapper"><span class="icon-copy">So sánh tất cả các phiên bản</span><span class="icon icon-after more"></span></a> </div>
            </header>
        </div>

        <div class="row">
            <div th:each="product, iterStat : ${products}" class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item"
                 th:if="${iterStat.index} &lt; 4">
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img th:src="@{|${product.imagePath}|}" alt="IMG-PRODUCT" class="img-thumbnail" style="width: 100%; height: auto;">
                        <a href="#"
                           th:data-product-id="${product.id}"
                           th:data-product-name="${product.nameProduct}"
                           th:data-product-price="${product.price}"
                           th:data-product-description="${product.description}"
                           th:data-product-image="${product.imagePath}"
                           class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                            Xem Nhanh
                        </a>

                    </div>
                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l">
                            <a th:href="@{/products/view/{id}(id=${product.id})}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                <span th:text="${product.nameProduct}">Product Name</span>
                            </a>
                            <span class="stext-105 cl3" th:if="${product.salePrice != null}" style="text-decoration: line-through;"
                                  th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' VND'">Price</span>
                            <span class="stext-105 cl3" th:if="${product.salePrice == null}"
                                  th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' VND'">Price</span>
                            <span class="stext-106 cl3" th:if="${product.salePrice != null}"
                                  th:text="${#numbers.formatDecimal(product.salePrice, 0, 'COMMA', 0, 'POINT')} + ' VND'">Sale Price</span>
                        </div>
                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/ma4.png" class="d-block w-100" alt="...">

            </div>


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
    <div class="container">
        <div style="height: 80px;"></div>
    <div class="section-content-responsive">
        <header class="section-header row">
            <h2 class="section-header-headline typography-section-headline" data-staggered-anchor="" data-staggered-before-item="" style="">Phụ kiện thiết yếu cho Mac.</h2>
            <div class="section-header-cta-container typography-section-headline-link column" data-staggered-before-item="" style="">
                <a href="/vn/shop/goto/mac/accessories" data-analytics-title="all mac accessories" class="icon-wrapper"><span class="icon-copy">Tất cả phụ kiện máy Mac</span><span class="icon icon-after more"></span></a> </div>
        </header>
    </div>
    </div>
    <div class="container">

        <ul class="card-set" role="list">
            <li role="listitem" class="gallery-item grid-item current" data-analytics-gallery-item-id="mac accessories">
                <div class="card essential-card" tabindex="-1">
                    <div class="card-modifier card-padding">
                        <div class="card-viewport-content">
                            <div class="essential-card-content">
                                <a class="essential-card-block-link" href="/vn/shop/goto/mac/accessories" data-analytics-title="shop mac accessories" tabindex="-1" aria-hidden="true"></a>
                                <div class="essential-card-text-container">
                                    <h3 class="essential-card-header typography-card-headline">Phụ kiện Mac</h3>
                                    <p class="essential-card-copy typography-family-paragraph">Khám phá bàn phím, chuột và các phụ kiện thiết yếu khác.</p>
                                    <a href="http://localhost:8080/products/category/3" data-analytics-title="shop mac accessories" class="icon-wrapper essential-card-link typography-family-paragraph">
                                        <span class="icon-copy">Mua phụ kiện máy Mac</span>
                                        <span class="icon icon-after more"></span>
                                    </a>
                                </div>
                                <figure class="essential-card-image image-bottom-center">
                                    <img src="/images/ma1.jpg" alt="Phụ kiện Mac">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li role="listitem" class="gallery-item grid-item" data-analytics-gallery-item-id="studio display">
                <div class="card essential-card" tabindex="-1">
                    <div class="card-modifier card-padding">
                        <div class="card-viewport-content">
                            <div class="essential-card-content">
                                <a class="essential-card-block-link" href="/vn/studio-display/" data-analytics-title="learn more - studio display" tabindex="-1" aria-hidden="true"></a>
                                <div class="essential-card-text-container">
                                    <h3 class="essential-card-header typography-card-headline">Tính Liên Tục</h3>
                                    <p class="essential-card-copy typography-family-paragraph">Chuyển tiếp mượt mà giữa các thiết bị.</p>
                                    <a href="https://www.apple.com/vn/macos/continuity/" data-analytics-title="learn more - studio display" aria-label="Tìm hiểu thêm về Studio Display" class="icon-wrapper essential-card-link typography-family-paragraph">
                                        <span class="icon-copy">Tìm hiểu thêm</span>
                                        <span class="icon icon-after more"></span>
                                    </a>
                                </div>
                                <figure class="essential-card-image image-bottom-center">
                                    <img src="/images/ma3.jpg" alt="Studio Display">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div><div style="height: 20px;"></div>
    <div class="container">
    <div class="row">
        <div th:each="product, iterStat : ${products}" class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item"
             th:if="${product.id >= 14} and ${product.id <= 18}">
            <div class="block2">
                <div class="block2-pic hov-img0">
                    <img th:src="@{|${product.imagePath}|}" alt="IMG-PRODUCT" class="img-thumbnail" style="width: 100%; height: auto;">
                    <a href="#"
                       th:data-product-id="${product.id}"
                       th:data-product-name="${product.nameProduct}"
                       th:data-product-price="${product.price}"
                       th:data-product-description="${product.description}"
                       th:data-product-image="${product.imagePath}"
                       class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                        Xem Nhanh
                    </a>

                </div>
                <div class="block2-txt flex-w flex-t p-t-14">
                    <div class="block2-txt-child1 flex-col-l">
                        <a th:href="@{/products/view/{id}(id=${product.id})}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                            <span th:text="${product.nameProduct}">Product Name</span>
                        </a>
                        <span class="stext-105 cl3" th:if="${product.salePrice != null}" style="text-decoration: line-through;"
                              th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' VND'">Price</span>
                        <span class="stext-105 cl3" th:if="${product.salePrice == null}"
                              th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' VND'">Price</span>
                        <span class="stext-106 cl3" th:if="${product.salePrice != null}"
                              th:text="${#numbers.formatDecimal(product.salePrice, 0, 'COMMA', 0, 'POINT')} + ' VND'">Sale Price</span>
                    </div>
                    <div class="block2-txt-child2 flex-r p-t-3">
                        <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                            <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
                            <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <section class="bg0 p-t-23 p-b-140">
        <div class="container">
            <div class="as-l-container rs-shop-container rs-shop-container-withchatandstore">
                <div class="row">
                    <div class="column large-8 small-12 rs-shop-header-section" data-autom="shop-header">
                        <div class="dd-color-teal">
                            <h1 class="rs-shop-header"><span class="dd-highlight">Education Store.</span></h1>
                            <div class="rs-shop-subheader"> Giảm giá cho học sinh, sinh viên !!!</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div th:each="product, iterStat : ${products}" class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item"
                     th:if="${product.salePrice != null and iterStat.index < 100}">
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img th:src="@{|${product.imagePath}|}" alt="IMG-PRODUCT" class="img-thumbnail" style="width: 100%; height: auto;">
                            <a href="#"
                               th:data-product-id="${product.id}"
                               th:data-product-name="${product.nameProduct}"
                               th:data-product-price="${product.price}"
                               th:data-product-description="${product.description}"
                               th:data-product-image="${product.imagePath}"
                               class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                Xem Nhanh
                            </a>
                        </div>
                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l">
                                <a th:href="@{/products/view/{id}(id=${product.id})}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    <span th:text="${product.nameProduct}">Product Name</span>
                                </a>
                                <span class="stext-105 cl3" style="text-decoration: line-through;"
                                      th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' VND'">Price</span>
                                <span class="stext-106 cl3"
                                      th:text="${#numbers.formatDecimal(product.salePrice, 0, 'COMMA', 0, 'POINT')} + ' VND'">Sale Price</span>
                            </div>
                            <div class="block2-txt-child2 flex-r p-t-3">
                                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                    <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-essentials background-alt staggered-end" data-anim-scroll-group="Essentials" data-component-list="StaggeredFadeIn" data-analytics-section-engagement="name:ipad essentials">
        <div class="section-content-responsive">
            <header class="section-header row">
                <h2 class="section-header-headline typography-section-headline" data-staggered-anchor="" data-staggered-before-item="" style="">Phụ kiện thiết yếu cho iPad.</h2>
            </header>
        </div>
        <div class="container">

            <div class="row">
                <div th:each="product, iterStat : ${products}" class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item"
                     th:if="${product.id >= 22} and ${product.id <= 25}">
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img th:src="@{|${product.imagePath}|}" alt="IMG-PRODUCT" class="img-thumbnail" style="width: 100%; height: auto;">
                            <a href="#"
                               th:data-product-id="${product.id}"
                               th:data-product-name="${product.nameProduct}"
                               th:data-product-price="${product.price}"
                               th:data-product-description="${product.description}"
                               th:data-product-image="${product.imagePath}"
                               class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                Xem Nhanh
                            </a>

                        </div>
                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l">
                                <a th:href="@{/products/view/{id}(id=${product.id})}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    <span th:text="${product.nameProduct}">Product Name</span>
                                </a>
                                <span class="stext-105 cl3" th:if="${product.salePrice != null}" style="text-decoration: line-through;"
                                      th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' VND'">Price</span>
                                <span class="stext-105 cl3" th:if="${product.salePrice == null}"
                                      th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' VND'">Price</span>
                                <span class="stext-106 cl3" th:if="${product.salePrice != null}"
                                      th:text="${#numbers.formatDecimal(product.salePrice, 0, 'COMMA', 0, 'POINT')} + ' VND'">Sale Price</span>
                            </div>
                            <div class="block2-txt-child2 flex-r p-t-3">
                                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                    <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 20px;"></div>
            <img src="images/ipad.png" class="d-block w-100" alt="...">

        </div>
        </div>
    </section>
    <section class="section section-ways-to-save" data-analytics-section-engagement="name:ways to save">
        <div class="section-content-responsive">
            <h2 class="typography-section-headline">Những cách để tiết kiệm.</h2>
        </div>
        <div class="scroll-gallery ways-to-save-gallery" aria-label="thư viện nhiều cách để tiết kiệm">
            <div class="scroll-container">
                <ul role="list" class="item-container">
                    <li class="gallery-item current" role="listitem">
                        <div class="tile tile-discounts tile-rounded">
                            <div class="tile-content">
                                <div tabindex="-1">
                                    <h3 class="typography-tile-headline">Ưu đãi dành cho<br>giáo dục đại học.</h3>
                                    <div class="tile-copy">
                                        <p>Ưu đãi dành cho giáo dục chỉ có<br class="small">tại Apple Store.</p>
                                    </div>
                                </div>
                                <p class="tile-link"><a href="/products" class="icon-wrapper"><span class="icon-copy">Mua sắm với ưu đãi dành cho giáo dục của Apple</span><span class="icon icon-after more"></span></a></p>
                            </div>
                            <div class="tile-media">
                                <img src="/images/p4.jpg" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="gallery-item" role="listitem">
                        <div class="tile tile-trade-in tile-rounded">
                            <div class="tile-content">
                                <div tabindex="-1">
                                    <h3 class="typography-tile-headline">Tiết kiệm với Apple&nbsp;Trade&nbsp;In.</h3>
                                    <div class="tile-copy">
                                        <p>Đổi thiết bị đủ điều kiện của bạn lấy điểm tín dụng cho lần mua hàng tiếp&nbsp;theo.</p>
                                    </div>
                                </div>
                                <p class="tile-link"><a href="https://www.apple.com/vn-edu/shop/trade-in" class="icon-wrapper"><span class="icon-copy">Tìm hiểu thêm</span><span class="icon icon-after more"></span></a></p>
                            </div>
                            <div class="tile-media">
                                <img src="/images/p5.jpg" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="gallery-item" role="listitem">
                        <div class="tile tile-applecare tile-rounded">
                            <div class="tile-content">
                                <div tabindex="-1">
                                    <h3 class="typography-tile-headline">Nhận ưu đãi đặc biệt cho AppleCare+.</h3>
                                    <div class="tile-copy">
                                        <p>Ưu đãi bảo hành cho các trường hợp hư hỏng do sự cố bất ngờ và hơn thế nữa với chính sách trợ giá cho giáo dục áp dụng với AppleCare+ cho Mac và AppleCare+ cho iPad.</p>
                                    </div>
                                </div>
                                <p class="tile-link"><a href="https://www.apple.com/vn/support/products/" class="icon-wrapper"><span class="icon-copy">Tìm hiểu thêm</span><span class="icon icon-after more"></span></a></p>
                            </div>
                            <div class="tile-media">
                                <img src="/images/p6.jpg" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section section-values" data-analytics-section-engagement="name:values">
        <div class="section-content-responsive">
            <h2 class="typography-section-headline">Các giá trị. <br class="medium small">Những điều thật sự quan trọng.</h2>
        </div>
        <div class="scroll-gallery values-gallery" id="values-gallery" data-component-list="ScrollGallery" aria-label="thư viện giá trị" data-analytics-gallery-id="values gallery">
            <div class="scroll-container">
                <ul role="list" class="item-container">
                    <li class="gallery-item current" id="secure" data-ac-gallery-item="" data-analytics-gallery-item-id="privacy" role="listitem">
                        <div class="tile tile-secure tile-rounded">
                            <div class="tile-content">
                                <picture id="overview-icon-privacy-1" class="overview-icon-privacy icon loaded" data-lazy="" data-picture-loaded="">

                                    <source srcset="/images/p3.png, /images/p3.png" media="(max-width:734px)"><source srcset="/images/p3.png, /images/p3.png" media="(min-width:0px)"><img src="/images/p3.png" onload="window.__lp?.(event)" alt="">
                                </picture>
                                <noscript>
                                    <picture class="overview-icon-privacy icon">
                                        <source srcset="/images/p3.png, /images/p3.png" media="(max-width:734px)" /><source srcset="/images/p3.png, /images/p3.png" media="(min-width:0px)" />
                                        <img src="/images/p3.png" alt >
                                    </picture>
                                </noscript>
                                <div tabindex="-1">
                                    <h3 class="typography-tile-headline">Riêng tư và bảo mật. Trong và ngoài trường&nbsp;học.</h3>
                                    <div class="tile-copy">
                                        <p>Tất cả sản phẩm Apple đều được thiết kế ngay từ đầu với mục tiêu bảo vệ quyền riêng tư của bạn, cho bạn tự do chọn chia sẻ những gì và chia sẻ như thể nào.</p>
                                    </div>
                                </div>
                                <p class="tile-link"><a href="/vn/privacy/" data-analytics-title="learn more - privacy" aria-label="Tìm hiểu thêm, Quyền Riêng Tư" class="icon-wrapper"><span class="icon-copy">Tìm hiểu thêm</span><span class="icon icon-after more"></span></a></p>
                            </div>
                        </div>
                    </li>
                    <li class="gallery-item" id="accessible" data-ac-gallery-item="" data-analytics-gallery-item-id="accessibility" role="listitem">
                        <div class="tile tile-accessible tile-rounded">
                            <div class="tile-content">
                                <picture id="overview-icon-accessibility-1" class="overview-icon-accessibility icon loaded" data-lazy="" data-picture-loaded="">

                                    <source srcset="/images/p2.png, /images/p2.png" media="(max-width:734px)"><source srcset="/images/p2.png, /images/p1.png" media="(min-width:0px)"><img src="/images/p3.png" onload="window.__lp?.(event)" alt="">
                                </picture>
                                <noscript>
                                    <picture class="overview-icon-privacy icon">
                                        <source srcset="/images/p2.png, /images/p2.png" media="(max-width:734px)" /><source srcset="/images/p2.png, /images/p2.png" media="(min-width:0px)" />
                                        <img src="/images/p2.png" alt >
                                    </picture>
                                </noscript>
                                <div tabindex="-1">
                                    <h3 class="typography-tile-headline">Dễ dàng sử dụng <br>cho việc học.</h3>
                                    <div class="tile-copy">
                                        <p>Các sản phẩm của Apple được thiết kế cho mọi người. Mọi thiết bị đều tích hợp sẵn các tính năng thị giác, vận động, thính giác và năng lực nhận thức.</p>
                                    </div>
                                </div>
                                <p class="tile-link"><a href="/vn/accessibility/" data-analytics-title="learn more - accessibility" aria-label="Tìm hiểu thêm, Trợ Năng" class="icon-wrapper"><span class="icon-copy">Tìm hiểu thêm</span><span class="icon icon-after more"></span></a></p>
                            </div>
                        </div>
                    </li>
                    <li class="gallery-item" id="eco" data-ac-gallery-item="" data-analytics-gallery-item-id="environment" role="listitem">
                        <div class="tile tile-eco tile-rounded">
                            <div class="tile-content">
                                <picture id="overview-icon-environment-1" class="overview-icon-environment icon loaded" data-lazy="" data-picture-loaded="">

                                    <source srcset="/images/p1.png, /images/p1.png" media="(max-width:734px)"><source srcset="/images/p1.png, /images/p1.png" media="(min-width:0px)"><img src="/images/p3.png" onload="window.__lp?.(event)" alt="">
                                </picture>
                                <noscript>
                                    <picture class="overview-icon-privacy icon">
                                        <source srcset="/images/p1.png, /images/p1.png" media="(max-width:734px)" /><source srcset="/images/p1.png, /images/p1.png" media="(min-width:0px)" />
                                        <img src="/images/p1.png" alt >
                                    </picture>
                                </noscript>
                                <div tabindex="-1">
                                    <h3 class="typography-tile-headline">Được thiết kế <br class="large">hướng tới tương lai.</h3>
                                    <div class="tile-copy">
                                        <p>Từ nguyên vật liệu sản xuất cho tới tiết kiệm năng lượng, các sản phẩm của Apple được thiết kế để giảm tác động lên hành tinh trong khi tối đa hóa hiệu năng và&nbsp;sức&nbsp;mạnh.</p>
                                    </div>
                                </div>
                                <p class="tile-link"><a href="/vn/environment/" data-analytics-title="learn more - environment" aria-label="Tìm hiểu thêm, Môi Trường" class="icon-wrapper"><span class="icon-copy">Tìm hiểu thêm</span><span class="icon icon-after more"></span></a></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div data-analytics-gallery-interaction-type="paddlenav" class="paddlenav paddlenav-side-aligned paddlenav-outside paddlenav-alpha paddlenav-disabled">
                <ul>
                    <li>
                        <button class="paddlenav-arrow paddlenav-arrow-previous" aria-label="Trước" disabled="true">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                                <path d="M21.559,12.062 L15.618,17.984 L21.5221,23.944 C22.105,24.533 22.1021,25.482 21.5131,26.065 C21.2211,26.355 20.8391,26.4999987 20.4571,26.4999987 C20.0711,26.4999987 19.6851,26.352 19.3921,26.056 L12.4351,19.034 C11.8531,18.446 11.8551,17.4999987 12.4411,16.916 L19.4411,9.938 C20.0261,9.353 20.9781,9.354 21.5621,9.941 C22.1471,10.528 22.1451,11.478 21.5591,12.062 L21.559,12.062 Z">
                                </path>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button class="paddlenav-arrow paddlenav-arrow-next" aria-label="Tiếp" disabled="true">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                                <path d="M23.5587,16.916 C24.1447,17.4999987 24.1467,18.446 23.5647,19.034 L16.6077,26.056 C16.3147,26.352 15.9287,26.4999987 15.5427,26.4999987 C15.1607,26.4999987 14.7787,26.355 14.4867,26.065 C13.8977,25.482 13.8947,24.533 14.4777,23.944 L20.3818,17.984 L14.4408,12.062 C13.8548,11.478 13.8528,10.5279 14.4378,9.941 C15.0218,9.354 15.9738,9.353 16.5588,9.938 L23.5588,16.916 L23.5587,16.916 Z">
                                </path>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>




</body>
</html>